body{
  text-align: center;
}
form{
  background-color: rgb(209, 173, 173);
  margin: 0 auto;
  width: 200px;
  border: 2px solid black;
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

input, label{
  margin: 2px 0 2px 0;
}
